
# Escape from Ruins final Project Test Report:

## 1.) Component Testing:

   * Game logic controller : the user functions that I had tested which were programmed in the visual Studio C# scripts include updating the position after user clicks the left-mouse button down, implementing game over message after the angel dies by falling to the ground, keeping track of how many pipes the user jumps through without colliding with another object, and controlling randomization of pipes that spawn in different locations. 

   * List of primary components that are tested in the game: 
       ### a.) Game Rules : 
       
       
       
       
       
       ### b.) Sprite generator:
       
       
       
       
       ### c.) totalScore: 








## 2.) System Testing:







## 3.) Acceptance Testing:
